node_modules
*/lib
target
*/dist
*/__tests__
marketing
branding
.hive
.github
.anchor
.opencode
.git/
.husky/
.benchmarks
.coverage
.eggs
htmlcov
*.egg-info
.*_cache*
.tox
*.db
tests
.git
__pycache__
docker-compose.yml
Dockerfile
specs/
docs/
programs/
