{
  "branches": ["main", "next"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "feat", "scope": "sdk-x402", "release": "minor" },
          { "type": "fix", "scope": "sdk-x402", "release": "patch" },
          { "type": "perf", "release": "patch" },
          { "type": "chore", "scope": "sdk-x402", "release": false }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "headerPartial": "# @tributary-so/sdk-x402 Changelog\n\n"
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "sdk-x402"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["sdk-x402/package.json", "sdk-x402/CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
