{
  "branches": ["main", "next"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          { "type": "feat", "scope": "sdk-react", "release": "minor" },
          { "type": "fix", "scope": "sdk-react", "release": "patch" },
          { "type": "perf", "release": "patch" },
          { "type": "chore", "scope": "sdk-react", "release": false }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "headerPartial": "# @tributary-so/sdk-react Changelog\n\n"
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "sdk-react"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["sdk-react/package.json", "sdk-react/CHANGELOG.md"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
